@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: rgb(1, 32, 116);
}

.nav-bar {
    display: flex;
    justify-content: end;
    padding: 1.5rem 1rem;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0px 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #ffffff;
    font-weight: 400;
}

.mobile-menu-icon {
    display:none;
}

.mobile-menu {
    display: none;
}

.nav-item {
    position: relative;
    overflow: hidden;
    padding: 10px;
    background: none;
    border: none;
    color: rgb(222, 222, 222);
    font-size: 20px;
    cursor: pointer;
}

.nav-item:active {
    opacity: .5;
}

.main-content {
    width: 50%;
    height: 300px;
    margin: 70px auto;
    border-left: solid 5px rgb(0, 255, 85);
    padding: 30px;
}

.main-text {
    text-align: center;
    color: rgb(200, 200, 200);
}

.linkedin {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.linkedin-img {
    height: 30px;
    margin-right: 15px;
}

.linkedin-a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    position: relative;
    overflow: hidden;
}

.linkedin-a:active {
    opacity: .5;
}

.linkedin-a::after {
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    background-color: rgb(0, 255, 85);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease;
}

.linkedin-a:hover::after {
    transform: scaleX(1);
}

.linkedin-a:active {
    opacity: .5;
}

.email {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.email-img {
    height: 30px;
    margin-right: 15px;
}

.email-a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.email-a:active {
    opacity: .5;
}

.email-a::after {
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    background-color: rgb(0, 255, 85);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease;
}

.email-a:hover::after {
    transform: scaleX(1);
}

.email-a:active {
    opacity: .5;
}

.instagram {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.instagram-img {
    height: 30px;
    margin-right: 15px;
}

.instagram-a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    position: relative;
    overflow: hidden;
}

.instagram-a:active {
    opacity: .5;
}

.instagram-a::after {
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    background-color: rgb(0, 255, 85);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease;
}

.instagram-a:hover::after {
    transform: scaleX(1);
}

.instagram-a:active {
    opacity: .5;
}

.github {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.github-img {
    height: 30px;
    margin-right: 15px;
}

.github-a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    position: relative;
    overflow: hidden;
}

.github-a:active {
    opacity: .5;
}

.github-a::after {
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    background-color: rgb(0, 255, 85);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease;
}

.github-a:hover::after {
    transform: scaleX(1);
}

.github-a:active {
    opacity: .5;
}

select {
    appearance: none;
    padding: 10px;
    margin-top: 20px;
    border-width: 1px;
    color: rgb(0, 255, 85);
    font-size: 16px;
    margin-left: 87%;
    border-radius: 5px;
    background: none;
    border-color: rgb(0, 255, 85);
}

select > option {
    background-color: rgb(0, 14, 54);
    border-color: rgb(0, 255, 85);
    font-size: 16px;
    color: rgb(255, 255, 255);
    border-color: rgb(0, 255, 85);
}

@media screen and (max-width: 1000px) {

    select {
        margin-left: 85%;
    }

}

@media screen and (max-width: 900px) {
    nav {
        margin: 15px 75px;
    }

    .main-content {
        margin: 70px auto;
        height: 300px;
        width: 80%;
        padding: 10px;
    }

    select {
        margin-left: 80%;
    }
}

@media screen and (max-width: 770px) {

    select {
        margin-left: 80%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .nav-bar {
        width: 80%;
        padding: 1.5rem 1rem;
    }

    .nav-item {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .icon {
        width: 35px;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .open {
        display: block;
    }
}

@media screen and (max-width: 630px) {

    select {
        margin-left: 78%;
    }

}

@media screen and (max-width: 552px) {
    
    .linkedin-a, .email-a, .instagram-a, .github-a {
        font-size: 16px;
    }

}

@media screen and (max-width: 500px) {

    .nav-button {
        font-size: 16px;
    }

    .main-text {
        font-size: 25px;
    }

    .linkedin-a, .email-a, .instagram-a, .github-a {
        font-size: 16px;
    }

    select {
        font-size: 13px;
        margin-left: 73%;
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 370px) {

    .nav-button {
        font-size: 15px;
    }

    .linkedin, .email, .instagram, .github {
        margin-bottom: 15px;
        font-size: 10px;
    }

    select {
        margin-left: 70%;
    }

}

@media screen and (max-width: 300px) {

    .nav-button {
        font-size: 11px;
    }

    .main-content {
        margin: 25px auto;
    }

    .main-title {
        font-size: 20px;
    }

    .linkedin-a, .email-a, .instagram-a, .github-a {
        font-size: 12px;
    }

    select {
        margin-left: 63%;
    }

}